/**
 * Common Definitions
 * AutomationIL, Meetup
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@color_background: #010003;
@color_text: #fff;
@color_pink: #ff2370;
@color_light_purple: #9c7ff7;
@color_dark_purple: #7f39de;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

.title-shadow(@color: @color_pink, @color2: #000000, @size: 7px) {
	@half: @size / 2;
	text-shadow: @half -@half 0 @color2, @size -@size 0 @color;
}
