/**
 * Content Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2022. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@keyframes rocket-launch {
	0% { background-position: center 3em; }
	10% { background-position: center 0.3em; }
	15% { background-position: center 0.4em; }
	20% { background-position: center 0.3em; }
	50% { background-position: center 0.3em; }
	100% { background-position: center -3em; }
}

section {
	overflow-x: clip;
}

.button, button {
	display: inline-block;
	padding: 0.1em;

	border: 0;
	border-radius: 2.5em;
	background-color: @color_pink;

	color: @color_text;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;

	transition: all 0.3s;
	cursor: pointer;

	html[dir=rtl] & {
		padding-left: 0.1em;
		padding-right: 1em;
	}

	&.passive {
		padding: 0.6em 2em;
		background-color: mix(@color_background, @color_text, 50);

		html[dir=rtl] & {
			padding: 0.6em 2em;
		}
	}

	&:not(.passive) {
		padding-left: 1em;

		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 1.9em;
			height: 1.9em;
			content: '';
			margin-left: 0.5em;

			border-radius: 50%;
			background-color: @color_text;
			background-image: url(../images/rocket.svg);
			background-size: 2em 2em;
			background-repeat: no-repeat;
			background-position: center 70px;
			line-height: 0;

			animation-name: rocket-launch;
			animation-duration: 5s;
			animation-delay: 3s;
			animation-iteration-count: infinite;
			animation-fill-mode: none;
			transition: all 0.3s;

			html[dir=rtl] & {
				margin-left: 0;
				margin-right: 0.5em;
			}
		}
	}

	&:hover {
		background-color: @color_text;
		color: @color_pink;

		box-shadow: 0 0 2px 1px @color_pink;

		&::after {
			background-color: @color_pink;
		}
	}
}

div.call-to-action {
	text-align: center;
	padding: 1em;
	font-size: 2em;
}

section div.wrapper {
	display: block;
	text-align: center;
	margin-top: 3rem;

	a {
		font-size: 2rem;
	}
}

section#about {
	position: relative;
	z-index: 1000;
	padding: 50px calc(~'(100vw - 1200px)' / 2);

	color: @color_background;
	background-image: linear-gradient(#fff, #fff);
	background-size: 100% calc(~'100% - 320px');
	background-repeat: no-repeat;
	background-position: top left;
	overflow-x: clip;

	// decorations
	> svg {
		position: absolute;
		fill: lighten(@color_dark_purple, 10);
		opacity: 0.5;
		pointer-events: none;
		// mix-blend-mode: screen;

		&:nth-of-type(1) {
			width: 171px;
			height: 1010px;
			top: -220px;
			left: calc(~'50% - 1270px');

			transform: rotate(90deg);
		}

		&:nth-of-type(2) {
			width: 171px;
			height: 1010px;
			top: -400px;
			left: calc(~'50% + 700px');

			transform: rotate(-90deg);
		}
	}

	article {
		width: 70%;
		background-color: @color_text;

		html[dir=rtl] & {
			margin-right: 30%;
		}

		h2 {
			margin: 0;
			padding: 0;

			font-size: 5rem;
			line-height: 100%;

			.title-shadow(@color2: #fff, @size: 5px);
		}

		h3 {
			margin-bottom: 20px;

			color: @color_pink;
			font-size: 2.5rem;
			line-height: 100%;
		}

		p {
			font-size: 1.2em;
		}
	}
}

section#features {
	@end_color: darken(@color_dark_purple, 35);

	position: relative;
	z-index: 999;
	top: -320px;
	min-height: 440px;
	padding: 0 calc(~'(100vw - 1200px)' / 2);
	padding-bottom: 4rem;
	padding-top: 450px;

	background-image:
	url(../images/clouds_1.svg),
	linear-gradient(@color_background 300px, @end_color 100%);
	background-size: 1920px 1404px, 100% 100%;
	background-position: center -950px, top left;
	background-repeat: no-repeat, no-repeat;
	overflow-x: clip;

	&::after {
		position: absolute;
		z-index: -1;
		bottom: -510px;
		left: 0;
		width: 100%;
		height: 640px;
		content: '';

		background-image:
		url(../images/clouds_2.svg),
		linear-gradient(@end_color, @end_color);
		background-size: 1920px 1404px, 100% 510px;
		background-position: center top, center bottom;
		background-repeat: no-repeat, no-repeat;
	}

	// decorations
	> svg {
		position: absolute;
		fill: lighten(@color_dark_purple, 10);
		opacity: 0.5;
		pointer-events: none;
		mix-blend-mode: screen;

		&:nth-of-type(1) {
			width: 171px;
			height: 1010px;
			top: -230px;
			left: calc(~'50% - 900px');

			transform: rotate(180deg) translateZ(0);
		}

		&:nth-of-type(2) {
			width: 434px;
			height: 448px;
			top: 800px;
			left: calc(~'50% - 750px');

			transform: scaleX(-1);
		}

		&:nth-of-type(3) {
			width: 434px;
			height: 448px;
			top: 800px;
			left: calc(~'50% + 250px');
		}

		&:nth-of-type(4) {
			width: 857px;
			height: 1091px;
			top: 0;
			left: calc(~'50% + 250px');
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;

		li {
			position: absolute;
			width: 300px;
			height: 300px;

			outline: 5px dotted @color_light_purple;
			outline-offset: 10px;
			border-radius: 50%;
			background-color: @color_light_purple;

			color: @color_background;

			&:nth-of-type(1),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				width: 200px;
				height: 200px;

				> div {
					width: 140px;
				}
			}

			&:nth-of-type(2),
			&:nth-of-type(5) {
				> div {
					width: 150px;
				}
			}

			&:nth-of-type(1) {
				top: 100px;
				left: 80px;
			}

			&:nth-of-type(2) {
				top: 165px;
				left: 315px;
			}

			&:nth-of-type(3) {
				top: 0;
				left: 604px;
			}

			&:nth-of-type(4) {
				top: 365px;
				left: 640px;
			}

			&:nth-of-type(5) {
				top: 122px;
				left: 833px;
			}

			div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;

				background-color: @color_light_purple;
				border-radius: 50%;

				> p {
					font-size: 2rem;
					line-height: 1;
					margin-bottom: 0.5rem;
				}

				> p:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

section#speakers {
	position: relative;
	z-index: 1000;
	padding: 0 calc(~'(100% - 1200px) / 2');
	padding-bottom: 5rem;

	background-color: @color_text;
	color: @color_background;

	> article {
		p {
			font-size: 1.2rem;
		}
	}

	h2,
	h3 {
		margin: 0;
		padding-top: 1em;
		.title-shadow(@color2: #fff, @size: 5px);
	}

	h2 { font-size: 3em; }
	h3 { font-size: 2em; }

	ol {
		margin: 0;
		padding: 0;
		padding-top: 3em;

		list-style-type: none;
		list-style-image: none;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			vertical-align: top;

			.elements-in-row(3, 100px, 0px);

			text-align: center;

			&:last-of-type {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}

			// picture
			figure {
				display: block;
				width: 150px;
				height: 150px;
				margin-left: auto;
				margin-right: auto;
				padding: 5px;

				border: 2px solid fade(@color_background, 50);
				border-radius: 50%;

				overflow: hidden;

				img {
					width: 150px;
					height: 150px;
					border-radius: 50%;
				}

				svg {
					margin: 0;

					width: 150px;
					height: 150px;
					border-radius: 50%;
					fill: @color_dark_purple;
				}
			}

			// lecturer's name
			span.name {
				display: block;
				color: @color_pink;
				font-size: 1.6rem;
				font-weight: bold;
			}

			> div {
				overflow: hidden;
				min-height: 8em;
				max-height: 8em;
				padding: 1em;
				padding-top: 0.1em;  // remove after adding hover
				box-sizing: border-box;

				border: 1px solid transparent;
				border-radius: 1em;
				background-color: @color_text;

				&:hover {
					position: absolute;
					width: 100%;
					max-height: 600px;
					z-index: 10;

					border-color: fade(@color_background, 30);
					box-shadow: 0px 2px 5px fade(@color_background, 10);
					transition: all 0.5s;
				}

				&::after {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 3em;
					content: '';

					background-image: linear-gradient(fade(@color_text, 0), @color_text);
				}

				&:hover::after {
					bottom: -2em;
				}

				hr {
					display: block;
					width: 100px;
					height: 1px;
					margin-left: auto;
					margin-right: auto;

					border: 0;
					background-color: fade(@color_background, 20);
				}

				p:first-child {
					font-weight: bold;

					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						max-height: 2em;

						&[alt="AppsFlyer"] { max-height: 3em; }
						&[alt="Tel Aviv-Yafo Municipality"] { max-height: 4em; }
						&[alt="Leandolini"] { max-height: 3em; }
						&[alt="Oct Group"] { max-height: 2.5em; }
						&[alt="Vitrue"] { max-height: 2.5em; }
						&[alt="Lior Vaknin"] { max-height: 2.5em; }
					}
				}

				*:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

section#syllabus,
section#video,
section#faq {
	padding: 4rem calc(~'(100% - 1200px) / 2');

	background-color: @color_text;
	color: @color_background;

	h2 {
		margin: 0;
		padding-top: 1em;
		.title-shadow(@color2: #fff, @size: 5px);
		font-size: 3em;
	}
}

section#faq,
section#syllabus {
	table {
		width: 100%;
		border-style: hidden;
		border-spacing: 10px;
		border-collapse: separate;
		font-size: 1.2em;

		thead tr td,
		thead tr th {
			padding: 5px 10px;

			border-radius: 0.5em;
			background-color: @color_dark_purple;

			color: @color_text;
			font-weight: bold;

			&:nth-child(2),
			&:nth-child(3) {
				width: 42%;
			}
		}

		tbody {
			border: 1px solid blue;

			tr {
				td {
					position: relative;
					vertical-align: top;

					padding: 15px;
					border-radius: 0.5em;
					background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05), #fff);

					transition: 0.3s all;

					&.break { background-color: fade(@color_pink, 20); }
					&.food { background-color: fade(@color_light_purple, 20); }

					// make room for logo
					&:nth-child(2),
					&:nth-child(3) {
						padding-right: 170px;

						html[dir=rtl] & {
							padding-right: 15px;
							padding-left: 170px;
						}
					}

					html[dir=rtl] & {
						background-image: linear-gradient(90deg, #fff, rgba(0, 0, 0, 0.05));
					}

					em {
						display: block;
						font-size: 0.8em;
					}

					strong {
						display: block;
						margin-bottom: 0.3em;
						color: @color_dark_purple;
						font-weight: normal;
					}

					// speaker image
					img {
						display: block;
						max-width: 100px;
						max-height: 100px;
						margin-top: 1em;

						border: 1px solid @color_background;
						border-radius: 50%;
					}

					// company logo
					img:last-child {
						position: absolute;
						top: 50%;
						right: 5px;
						margin-top: 0em;
						max-height: 1.6em;
						max-width: none;

						border: 0;
						border-radius: initial;

						transform: translate(0, -50%);
						pointer-events: none;
						opacity: 0.5;

						&[alt="AppsFlyer"] { max-height: 2.3em; }
						&[alt="Tel Aviv-Yafo Municipality"] { max-height: 4em; }
						&[alt="Leandolini"] { max-height: 3em; }
						&[alt="Oct Group"] { max-height: 2.5em; }
						&[alt="Vitrue"] { max-height: 2.5em; }
						&[alt="Lior Vaknin"] { max-height: 2.5em; }

						html[dir=rtl] & {
							left: 5px;
							right: auto;
						}
					}
				}

				&:hover td {
					background-color: lighten(@color_pink, 30);
					color: @color_background;
				}
			}
		}
	}
}

section#video {
	iframe {
		display: block;
		margin: 0 auto;
		margin-top: 2rem;
	}
}

section#faq {
	table tbody tr td:nth-of-type(1) {
		width: 25%;
	}
}

section#gallery,
section#bottom_about {
	padding: 0 calc(~'(100% - 1200px) / 2');
	padding-bottom: 5rem;

	background-color: @color_text;
	color: @color_background;

	> article {
		h2,
		h3 {
			margin: 0;
			padding-top: 1em;
			.title-shadow(@color2: #fff, @size: 5px);
		}

		h2 { font-size: 3em; }
		h3 { font-size: 2em; }

		p {
			font-size: 1.2rem;

			a {
				color: @color_pink;
				transition: all 0.3s;

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
		}
	}
}

div.dialog.form {
	top: 3em;
	max-width: 750px;
	border-radius: 2rem;

	div.title {
		padding-left: 1em;
		padding-right: 1em;

		border-radius: 2rem 2rem 0 0;
		background-color: @color_dark_purple;

		color: @color_text;
		text-align: center;
	}

	article {
		margin-bottom: 2em;
	}
}

div.dialog.form {
	padding-bottom: 1em;

	div.command_bar a {
		padding-left: 2em;
		padding-right: 2em;

		border: 0;
		border-radius: 2.5em;

		font-weight: bold;

		transition: all 0.3s;
		cursor: pointer;

		&.checkout {
			background-color: @color_pink;
			color: @color_text;
			transition: all 0.3s;

			&:focus,
			&:hover,
			&:active {
				background-color: @color_text;
				color: @color_pink;

				box-shadow: 0 0 2px 1px @color_pink;
			}
		}

		svg {
			vertical-align: middle;
			margin-right: 5px;

			fill: currentColor;
			max-width: 1.5em;
			max-height: 1.5em;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}

	div.ticket-list {
		display: block;
		padding: 1em;

		border: 1px solid darken(@color_text, 20);
		border-radius: 0.5em;
		background-color: darken(@color_text, 5);

		> button {
			padding: 0.5em 1em;
			margin-top: 1em;

			svg {
				vertical-align: middle;
				margin-right: 5px;

				fill: currentColor;
				max-width: 1.5em;
				max-height: 1.5em;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}

		div.editor {
			margin-bottom: 1em;
			padding: 1em;

			border: 1px solid darken(@color_text, 20);
			border-radius: 0.2em;
			background-color: @color_text;

			&:last-child {
				margin-bottom: 0;
			}

			label {
				display: flex;
				align-items: center;
				margin-bottom: 0.5em;

				span {
					flex: 1 0 100px;
				}

				input {
					flex: 1 0 200px;
					padding: 0.2em 1em;

					border: 1px solid fade(@color_dark_purple, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_dark_purple;
						outline: none;
					}

					&[name=phone],
					&[name=email] {
						direction: ltr;
					}
				}
			}

			div.controls {
				display: flex;
				padding-top: 1em;
				justify-content: center;

				button {
					flex: 0 0 150px;

					height: 2.5em;
					padding: 0.5em;

					svg {
						vertical-align: middle;
						fill: currentColor;
						width: 2em;
						height: 100%;
					}

					&::after {
						display: none;
					}
				}
			}
		}

		div.ticket {
			display: flex;
			align-items: center;
			margin-bottom: 0.3em;
			padding: 0.5em;

			border: 1px solid darken(@color_text, 20);
			border-radius: 0.2em;
			background-color: @color_text;

			&.template {
				display: none;
			}

			strong {
				flex: 1;
				padding-left: 0.5em;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 0.5em;
				}
			}

			button {
				flex: 0.05;
				height: 2rem;
				margin-left: 5px;
				padding: 0 0.8em;

				background-color: lighten(#000, 60);
				color: @color_text;

				transition: all 0.3s;

				html[dir=rtl] & {
					margin-right: 5px;
					margin-left: 0px;
				}

				svg {
					fill: @color_text;
					width: 1rem;
					aspect-ratio: 1;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: lighten(#000, 75);
					box-shadow: 0 0 2px 1px lighten(#000, 70);
				}
			}
		}

		div.total {
			padding-left: 0.3em;
			padding-right: 0.3em;
			font-size: 1.1em;

			span.value {
				display: inline-block;
				padding-left: 0.3em;
				padding-right: 0.3em;

				font-weight: bold;
			}
		}
	}
}

div#checkout_container {

	& > div.sale > form > div.container {
		display: none;
	}

	div.guest_checkout {
		padding: 0 4rem;
	}

	form {
		h1 {
			background-color: @color_dark_purple;
		}

		label {
			display: flex;
			align-items: center;

			span {
				flex: 1;
				text-align: right;
			}

			input {
				flex: 3;
				padding: 0.2em 1em;

				border: 1px solid fade(@color_dark_purple, 30);
				border-radius: 1em;

				&:focus {
					border-color: @color_dark_purple;
					outline: none;
				}

				&[name=phone],
				&[name=email] {
					direction: ltr;
				}
			}

			&.checkbox {
				margin-top: 1rem;

				& > span {
					text-align: right;
				}
			}
		}
	}

	div#checkout_steps a.active::before {
		border: 1px solid @color_pink;
		background-color: @color_pink;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 7px rgba(255, 255, 255, 0.2), inset 0 7px 10px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
		color: white;
	}

	div.checkout_controls button.next,
	div.checkout_controls button[type=submit] {
		background: none;
		box-shadow: none;
		background-color: @color_pink;
		border-color: @color_pink;
		padding: 0.8rem 1.5rem;
		border-radius: 2.5em;
		text-shadow: none;

		&::after { display: none; }

		&:hover,
		&:focus,
		&:active {
			background-color: @color_text;
			color: @color_pink;
			text-shadow: none;
		}
	}

	div.checkout_controls button[type=button] {
		background: none;
		box-shadow: none;
		background-color: lighten(#000, 60);
		color: @color_text;
		text-shadow: none;
		border: 1px solid lighten(#000, 65);
		padding: 0.8rem 1.5rem;
		border-radius: 2.5em;

		&:hover,
		&:focus,
		&:active {
			background-color: lighten(#000, 70);
		}

		&::after { display: none; }
	}

	div.checkout_controls small {
		color: @color_text;
	}

	td.optional.tax,
	td.optional.weight {
		display: none;
	}

	tr.optional.total-weight {
		display: none;
	}

	table.checkout_details thead td {
		background-color: @color_dark_purple;
	}

	table.checkout_details td.total-label,
	table.checkout_details td.total-value {
		background-image: linear-gradient(90deg,#fff,rgba(0,0,0,0.05));
	}
}

html[dir="rtl"] div#input_details div.guest_checkout label span {
	text-align: right;
}
