/**
 * Content Mobile Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2022. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@keyframes rocket-launch {
	0% { background-position: center 70px; }
	10% { background-position: center 10px; }
	15% { background-position: center 15px; }
	20% { background-position: center 10px; }
	50% { background-position: center 10px; }
	100% { background-position: center -80px; }
}

.button, button {
	display: inline-block;
	padding: 0.1em;

	border: 0;
	border-radius: 2.5em;
	background-color: @color_pink;

	color: @color_text;
	font-weight: bold;
	text-decoration: none;
	line-height: 100%;

	html[dir=rtl] & {
		padding-left: 0.1em;
		padding-right: 1em;
	}

	&.passive {
		padding: 0.6em 2em;
		background-color: mix(@color_background, @color_text, 50);

		html[dir=rtl] & {
			padding: 0.6em 2em;
		}
	}

	&:not(.passive) {
		padding-left: 1em;

		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 2em;
			height: 2em;
			content: '';
			margin-left: 0.5em;

			border-radius: 50%;
			background-color: @color_text;
			background-image: url(../images/rocket.svg);
			background-size: 2em 2em;
			background-repeat: no-repeat;
			background-position: center 70px;
			line-height: 0;

			animation-name: rocket-launch;
			animation-duration: 5s;
			animation-delay: 3s;
			animation-iteration-count: infinite;
			animation-fill-mode: none;

			html[dir=rtl] & {
				margin-left: 0.1em;
				margin-right: 0.5em;
			}
		}
	}
}

h1, h2, h3, h4, h5 {
	.title-shadow(@color2: #fff, @size: 3px);
}

section div.wrapper {
	display: block;
	text-align: center;
	margin-top: 2rem;

	a.button.call-to-action {
		color: @color_text;
	}
}

section#hackathon {
	background-color: @color_text;
	color: @color_background;

	hr {
		height: 1px;
		margin-top: 2rem;
		margin-bottom: 2rem;

		border: 0;
		background-color: mix(@color_text, @color_background, 80);
		line-height: 0;
	}

	> article {
		padding: 0.7em;

		margin-left: auto;
		margin-right: auto;
	}

	> form {
		padding-left: 1em;
		padding-right: 1em;
	}
}

section#syllabus,
section#video,
section#faq {
	background-color: @color_text;
	color: @color_background;
	padding: 1rem;

	h1, h2, h3, h4, h5 {
		.title-shadow(@color2: #fff, @size: 3px);
	}
}

section#video {
	a.video {
		display: block;
		margin: 0 auto;
		margin-top: 1rem;

		img {
			width: 100%;
		}
	}

	iframe {
		display: block;
		margin: 0 auto;
		max-width: 95%;
	}
}

section#faq {
	table tbody tr td:nth-of-type(1) {
		width: 25%;
	}
}

section#sponsors {
	padding: 1em;

	background-color: @color_text;
	color: @color_background;
	text-align: center;

	> article {
		padding-top: 3em;

		width: 900px;
		margin-left: auto;
		margin-right: auto;

		p {
			text-align: center;
		}
	}

	hr {
		height: 1px;
		margin-top: 2rem;
		margin-bottom: 2rem;

		border: 0;
		background-color: mix(@color_text, @color_background, 80);
		line-height: 0;
	}

	figure.sponsor-badge {
		display: block;
		width: 50px;
		height: 50px;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		padding: 1rem;

		border-radius: 50%;
		background-color: @color_dark_purple;
		line-height: 0;

		&.top {
			background-image: linear-gradient(#A998F4 0%, #A9C6F4 51%, #A998F4 100%);
		}

		&.platinum {
			background-image: linear-gradient(#DBCDBE 0%, #F8FAF8 32%, #DDC8C4 68%, #E4E1EA 100%);
		}

		&.gold {
			background-image: linear-gradient(#ECC440 0%, #FFFA8A 32%, #DDAC17 68%, #FFFF95 100%);
		}

		&.silver {
			background-image: linear-gradient(#A6A6A6 0%, #E6E6E6 32%, #999999 68%, #E6E6E6 100%);
		}

		svg {
			width: 50px;
			height: 50px;
		}
	}

	figure.sponsor {
		display: inline-block;
		vertical-align: middle;
		margin: 1rem;
		text-align: center;

		img {
			max-width: 80vw;
		}
	}

	h2, h3 {
		margin-bottom: 2rem;
	}

	div.call-to-action {
		margin-top: 1rem;
	}
}

section#about {
	padding: 1rem;

	color: @color_background;
	background-color: @color_text;

	article {
		h2 {
			margin: 0;
			padding: 0;
			margin-bottom: 1rem;

			line-height: 100%;
		}

		h3 {
			margin-bottom: 20px;

			line-height: 100%;
		}

		p {
			font-size: 1.2em;
		}
	}
}

section#features {
	padding: 1rem;
	background-image: linear-gradient(@color_background, darken(@color_dark_purple, 35));
	max-height: 860px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;

		li {
			display: block;
			width: 220px;
			height: 220px;
			outline: 1px dashed @color_text;
			outline-offset: 0.5rem;
			border-radius: 50%;
			position: relative;
			background-color: @color_light_purple;
			color: @color_background;
			margin-bottom: 1rem;

			&:nth-of-type(1),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				width: 160px;
				height: 160px;

				> div {
					width: 140px;
				}
			}

			&:nth-of-type(2),
			&:nth-of-type(5) {
				> div {
					width: 150px;
				}
			}

			&:nth-of-type(1) {
				top: 1rem;
				left: 1rem;

				html[dir=rtl] & {
					left: unset;
					right: 1rem;
				}
			}

			&:nth-of-type(2) {
				top: -10px;
				left: 90%;
				transform: translateX(-90%);

				html[dir=rtl] & {
					left: unset;
					right: 90%;
					transform: translateX(90%);
				}
			}

			&:nth-of-type(3) {
				top: -40px;
				left: 1rem;

				html[dir=rtl] & {
					left: unset;
					right: 1rem;
				}
			}

			&:nth-of-type(4) {
				top: -110px;
				left: 90%;
				transform: translateX(-90%);

				html[dir=rtl] & {
					left: unset;
					right: 90%;
					transform: translateX(90%);
				}
			}

			&:nth-of-type(5) {
				top: -140px;
				left: 1rem;

				html[dir=rtl] & {
					left: unset;
					right: 1rem;
				}
			}

			div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;

				background-color: @color_light_purple;
				border-radius: 50%;

				> p {
					font-size: 1.5rem;
					line-height: 1;
					margin-bottom: 0.5rem;
				}

				> p:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

section#arena {
	padding: 1rem;
	background-color: @color_text;

	h2 {
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;

		line-height: 100%;
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			color: @color_background;
			background-color: @color_light_purple;
			padding: 2rem 1rem;
			border-radius: 1rem;

			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}
		}
	}
}

section#future {
	padding: 1rem;
	background-image: linear-gradient(@color_background, darken(@color_dark_purple, 35));

	h2 {
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;

		line-height: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			color: @color_background;
			background-color: lighten(@color_light_purple, 10);
			padding: 2rem 1rem;
			border-radius: 1rem;
			position: relative;
			font-weight: bold;

			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}

			svg {
				width: 20px;
				height: auto;
				display: block;
				margin: 0 auto;
				margin-top: 1rem;
			}
		}
	}
}

section#speakers {
	padding: 1em;

	background-color: @color_text;
	color: @color_background;

	> article {
		padding-bottom: 2em;

		p {
			font-size: 1.2rem;
			text-align: center;
		}
	}

	h3 {
		padding-bottom: 1em;
		text-align: center;
	}

	ol {
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		li {
			display: block;
			text-align: center;

			// picture
			figure {
				display: block;
				width: 150px;
				height: 150px;
				margin-left: auto;
				margin-right: auto;
				padding: 5px;

				border: 2px solid fade(@color_background, 50);
				border-radius: 50%;

				overflow: hidden;

				img {
					width: 150px;
					height: 150px;
					border-radius: 50%;
				}

				svg {
					margin: 0;

					width: 150px;
					height: 150px;
					border-radius: 50%;
					fill: @color_dark_purple;
				}
			}

			// lecturer's name
			span.name {
				display: block;
				color: @color_pink;
				font-size: 1.6rem;
				font-weight: bold;
			}

			> div {
				padding: 1em;
				box-sizing: border-box;

				border: 1px solid transparent;
				border-radius: 1em;
				background-color: @color_text;

				hr {
					display: block;
					width: 100px;
					height: 1px;
					margin-left: auto;
					margin-right: auto;

					border: 0;
					background-color: fade(@color_background, 20);
				}

				p:first-child {
					font-weight: bold;

					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						max-height: 2em;

						&[alt="AppsFlyer"] { max-height: 3em; }
						&[alt="Tel Aviv-Yafo Municipality"] { max-height: 4em; }
						&[alt="Leandolini"] { max-height: 3em; }
						&[alt="Oct Group"] { max-height: 2.5em; }
						&[alt="Vitrue"] { max-height: 2.5em; }
						&[alt="Lior Vaknin"] { max-height: 2.5em; }
					}
				}

				*:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	div.call-to-action {
		text-align: center;
	}
}

section#bottom_about {
	background-color: @color_text;
	padding: 1rem;
	color: @color_background;

	a {
		color: @color_pink;

		&.button.call-to-action {
			color: @color_text;
		}
	}

	div.call-to-action {
		text-align: center;

		a {
			color: @color_text;
		}
	}
}

section#gallery {
	background-color: @color_text;
	color: @color_background;

	article {
		padding: 1rem;
	}

	div {
		padding: 1rem;

		a.stock.image {

			img {
				display: block;
				width: 100%;
				margin: 0 auto;
				margin-bottom: 1rem;
				border-radius: 1em;
			}

			&:last-of-type img {
				margin-bottom: 0;
			}
		}
	}
}

div.copyright.light {
	color: @color_background;
	text-align: center;
	background-position: calc(~'50% - 100px') center;
	background-color: @color_text;

	> a {
		color: @color_background;

		&:hover {
			text-decoration: underline;
		}
	}
}

div.dialog.form {
	z-index: 10000000;
	top: 2.5vw;
	border-radius: 2rem;

	div.title {
		padding-left: 1em;
		padding-right: 1em;

		border-radius: 2rem 2rem 0 0;
		background-color: @color_dark_purple;

		color: @color_text;
		text-align: center;
	}

	article {
		margin-bottom: 2em;
	}
}

div.dialog.form form,
section#hackathon > form {
	padding-bottom: 1em;

	label:not(.checkbox) {
		display: block;
		white-space: nowrap;
		margin-bottom: 0.5em;

		border: 1px solid darken(@color_dark_purple, 20);
		border-radius: 2rem;
		background-color: darken(@color_dark_purple, 20);
		color: @color_text;

		span {
			display: inline-block;
			width: 140px;
			box-sizing: border-box;
			padding: 10px;

			font-size: 1rem;
			line-height: 1;
			text-align: right;

			html[dir=rtl] & {
				text-align: left;
			}
		}

		input {
			display: inline-block;
			width: calc(~'100% - 140px');
			padding: 10px;
			box-sizing: border-box;

			border: 0;
			border-radius: 0 2rem 2rem 0;
			background-color: @color_text;

			color: @color_background;
			font-size: 1rem;

			html[dir=rtl] & {
				border-radius: 2rem 0 0 2rem;
			}

			&:focus {
				outline: none;
				background-color: mix(@color_dark_purple, @color_text, 10);
			}
		}
	}

	label.checkbox {
		display: block;
		margin-top: 1rem;

		input {
			display: inline-block;
			width: 20px;
			height: 20px;

			margin-right: 0.5em;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 0.5em;
			}
		}
	}

	div.controls {
		padding-top: 2em;
		text-align: center;

		a {
			vertical-align: top;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}
}

div.dialog.form div.editor div.controls button::after {
	display: none;
}

div.dialog.form {
	max-height: 80vh;
	overflow: auto;
	padding-bottom: 1em;

	div.command_bar a {
		padding: 0.5rem 0.8rem;

		border: 0;
		border-radius: 2.5em;

		font-weight: bold;

		transition: all 0.3s;
		cursor: pointer;

		&.checkout {
			background-color: @color_pink;
			color: @color_text;
			transition: all 0.3s;

			&:focus,
			&:hover,
			&:active {
				background-color: @color_text;
				color: @color_pink;

				box-shadow: 0 0 2px 1px @color_pink;
			}
		}

		svg {
			vertical-align: middle;
			margin-right: 5px;

			fill: currentColor;
			width: 1.2rem;
			aspect-ratio: 1;
			padding: 0 0.5rem;
		}
	}

	div.ticket-list {
		display: block;
		padding: 1em;

		border: 1px solid darken(@color_text, 20);
		border-radius: 0.5em;
		background-color: darken(@color_text, 5);

		> button {
			padding: 0.5em 1em;
			margin-top: 1em;

			svg {
				vertical-align: middle;
				margin-right: 5px;

				fill: currentColor;
				max-width: 1.5em;
				max-height: 1.5em;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}

		div.editor {
			margin-bottom: 1em;
			padding: 1em;

			border: 1px solid darken(@color_text, 20);
			border-radius: 0.2em;
			background-color: @color_text;

			&:last-child {
				margin-bottom: 0;
			}

			label {
				display: flex;
				flex-direction: column;
				gap: 0.3rem;

				&:not(:last-of-type) {
					margin-bottom: 1rem;
				}

				html[dir=rtl] span {
					text-align: right;
				}

				input {
					padding: 0.5em 1em;

					border: 1px solid fade(@color_dark_purple, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_dark_purple;
						outline: none;
					}

					&[name=phone],
					&[name=email] {
						direction: ltr;
					}
				}
			}

			div.controls {
				display: flex;
				padding-top: 1em;
				justify-content: center;

				button {
					flex: 0 0 150px;

					height: 2.5em;
					padding: 0.5em;

					svg {
						vertical-align: middle;
						fill: currentColor;
						width: 1.2rem;
						aspect-ratio: 1;
						padding: 0 0.5rem;
					}
				}
			}
		}

		div.ticket {
			display: flex;
			align-items: center;
			margin-bottom: 0.3em;
			padding: 0.5em;

			border: 1px solid darken(@color_text, 20);
			border-radius: 0.2em;
			background-color: @color_text;

			&.template {
				display: none;
			}

			strong {
				flex: 1;
				padding-left: 0.5em;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 0.5em;
				}
			}

			button {
				flex: 0.05;
				height: 2rem;
				margin-left: 5px;
				padding: 0 0.8em;

				background-color: lighten(#000, 60);
				color: @color_text;

				transition: all 0.3s;

				html[dir=rtl] & {
					margin-right: 5px;
					margin-left: 0px;
				}

				svg {
					fill: @color_text;
					width: 1rem;
					aspect-ratio: 1;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: lighten(#000, 75);
					box-shadow: 0 0 2px 1px lighten(#000, 70);
				}
			}
		}

		div.total {
			padding-left: 0.3em;
			padding-right: 0.3em;
			font-size: 1.1em;

			span.value {
				display: inline-block;
				padding-left: 0.3em;
				padding-right: 0.3em;

				font-weight: bold;
			}
		}
	}
}

div#checkout_container {

	& > div.sale > form > div.container {
		display: none;
	}

	div.guest_checkout {
		display: flex;
		flex-direction: column;
		padding: 1rem 0.5rem;
	}

	form {
		h1 {
			background-color: @color_dark_purple;
			text-shadow: none;
			padding: 0.5rem 0;
		}

		label {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			input {
				padding: 0.5em 1em;

				border: 1px solid fade(@color_dark_purple, 30);
				border-radius: 1em;
				width: auto;

				&:focus {
					border-color: @color_dark_purple;
					outline: none;
				}

				&[name=phone],
				&[name=email] {
					direction: ltr;
				}
			}

			&.checkbox {
				margin-top: 1rem;

				& > span {
					text-align: right;
				}
			}
		}
	}

	div#checkout_steps a.active::before {
		border: 1px solid @color_pink;
		background-color: @color_pink;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 7px rgba(255, 255, 255, 0.2), inset 0 7px 10px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
		color: white;
	}

	div.checkout_controls button.next,
	div.checkout_controls button[type=submit] {
		background: none;
		box-shadow: none;
		background-color: @color_pink;
		border-color: @color_pink;
		padding: 0.8rem 1.5rem;
		border-radius: 2.5em;
		text-shadow: none;

		&:hover,
		&:focus,
		&:active {
			background-color: @color_text;
			color: @color_pink;
			text-shadow: none;
		}
	}

	div.checkout_controls button.next::after,
	div.checkout_controls button[type=submit]::after,
	div#checkout_container div.checkout_controls button[type="button"]::after {
		display: none;
	}

	div.checkout_controls button[type=button] {
		background: none;
		box-shadow: none;
		background-color: lighten(#000, 60);
		color: @color_text;
		text-shadow: none;
		border: 1px solid lighten(#000, 65);
		padding: 0.8rem 1.5rem;
		border-radius: 2.5em;

		&:hover,
		&:focus,
		&:active {
			background-color: lighten(#000, 70);
		}
	}

	div.checkout_controls small {
		color: @color_text;
	}

	td.optional.tax,
	td.optional.weight {
		display: none;
	}

	tr.optional.total-weight {
		display: none;
	}

	table.checkout_details thead td {
		background-color: @color_dark_purple;
	}

	table.checkout_details td.total-label,
	table.checkout_details td.total-value {
		background-image: linear-gradient(90deg,#fff,rgba(0,0,0,0.05));
	}
}

div#checkout_container div.checkout_controls button[type="button"]::after {
	display: none;
}

div#checkout table.checkout_details {
	font-size: 1rem;
}

section {
	table {
		border-style: hidden;
		border-spacing: 2px;
		border-collapse: separate;

		thead tr td,
		thead tr th {
			padding: 5px 10px;

			border-radius: 0.5em;
			background-color: @color_dark_purple;

			color: @color_text;
			font-weight: bold;

			&:nth-child(2),
			&:nth-child(3) {
				width: 42%;
			}
		}

		tbody {
			border: 1px solid blue;

			tr {
				td {
					vertical-align: top;

					padding: 10px;
					border-radius: 0.5em;
					background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05), #fff);

					transition: 0.3s all;

					&.break { background-color: fade(@color_pink, 20); }
					&.food { background-color: fade(@color_light_purple, 20); }
					&:nth-child(1) {
						font-size: 0.8em;
					}

					html[dir=rtl] & {
						background-image: linear-gradient(90deg, #fff, rgba(0, 0, 0, 0.05));
					}

					em {
						display: block;
						margin-top: 0.3em;
						font-size: 0.8em;
					}

					strong {
						color: @color_light_purple;
						font-weight: normal;
					}

					// speaker image
					img {
						display: block;
						max-width: 100px;
						max-height: 100px;
						margin-top: 1em;

						border: 1px solid @color_background;
						border-radius: 50%;
					}

					// company logo
					img:last-child {
						margin-top: 0em;
						max-height: 1em;
						max-width: none;

						border: 0;
						border-radius: initial;
					}
				}

				&:hover td {
					background-color: lighten(@color_pink, 30);
					color: @color_background;
				}
			}
		}
	}
}
